In [1]:
(0.203**2+ 0.187**2-2*0.779*0.203*0.187)

0.017034761999999988

In [2]:
import pandas as pd
import numpy as np

In [3]:

corr_usd= pd.DataFrame( np.array([[1,.45, .75, 0], 
                   [.45, 1, .34, 0], 
                   [.75, .34, 1, 0],
                   [0  ,   0, 0, 1]]), index= ['EUR', 'JPY', 'GBP', 'USD'], 
                       columns= ['EUR', 'JPY', 'GBP', 'USD'])
vol_usd= np.array([10.5/100, 10.5/100, 9.1/100, 0])
cov_usd= pd.DataFrame( np.dot( np.dot(np.diag(vol_usd), corr_usd), np.diag(vol_usd)) , 
                      index= corr_usd.index, columns= corr_usd.columns)

In [4]:
corr_usd

      EUR   JPY   GBP  USD
EUR  1.00  0.45  0.75  0.0
JPY  0.45  1.00  0.34  0.0
GBP  0.75  0.34  1.00  0.0
USD  0.00  0.00  0.00  1.0

In [5]:
vol_usd

array([ 0.105,  0.105,  0.091,  0.   ])

In [6]:
cov_usd

          EUR       JPY       GBP  USD
EUR  0.011025  0.004961  0.007166  0.0
JPY  0.004961  0.011025  0.003249  0.0
GBP  0.007166  0.003249  0.008281  0.0
USD  0.000000  0.000000  0.000000  0.0

In [7]:
converter_usdjpy= pd.DataFrame( np.array( [[1, 0, 0, 0], 
                            [-1, 0, -1, -1],
                            [0, 0, 1, 0],
                            [0, 0, 0, 1]])) 

cov_jpy=pd.DataFrame(  np.dot( np.dot( converter_usdjpy.T, cov_usd), converter_usdjpy),  index= cov_usd.index, columns= cov_usd.columns)

In [8]:
vol_jpy= np.sqrt( np.diag( cov_jpy))

In [9]:
corr_jpy= pd.DataFrame( np.dot( np.dot( np.diag( 1/ vol_jpy), cov_jpy), np.diag( 1/ vol_jpy)) , 
                       index= cov_jpy.index, columns= cov_jpy.columns)

corr_jpy.loc['JPY'] = [0,1,0,0]
corr_jpy['JPY'] = [0, 1, 0, 0]

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: RuntimeWarning: divide by zero encountered in true_divide
  """Entry point for launching an IPython kernel.

In [10]:
corr_jpy

          EUR  JPY       GBP       USD
EUR  1.000000    0  0.800849  0.524404
JPY  0.000000    1  0.000000  0.000000
GBP  0.800849    0  1.000000  0.654384
USD  0.524404    0  0.654384  1.000000

In [11]:
import portfolio

In [12]:
from portfolio import Portfolio
import numpy as np
import pandas as pd

In [13]:
p= Portfolio( asset_cov= pd.DataFrame(np.ones([3,3]), index= ['a', 'b', 'c'], columns= ['a', 'b', 'c']), 
             asset_ret= np.array([0.1, 0.2, 0.3]), weight= np.array([0.3, 0.3, 0.4]))

In [15]:
p.weight

array([ 0.3,  0.3,  0.4])

In [17]:
p.asset_name

['a', 'b', 'c']

In [18]:
p.asset_cov

     a    b    c
a  1.0  1.0  1.0
b  1.0  1.0  1.0
c  1.0  1.0  1.0

In [19]:
p.dollar_neutral

False

In [20]:
p.full_invested

True

In [21]:
p.volatility

1.0

In [23]:

p.expected_return

0.20999999999999999